* {margin: 0; padding: 0}

body{
    font-family: Arial;

}
header {
    background: mediumspringgreen ;
    padding: 20px;
    margin: 10px;

}
.site-title{
    text-align: center;
    text-decoration: none;
    color:black;
    text-emphasis: shadow 10px;;
    padding: 10px;
    letter-spacing: 5px;
    animation: text 5s 1;
}
@keyframes text{
    0%{
        color:mediumspringgreen;
        margin-bottom:-;
    }
    30%{
        letter-spacing:25px;
        margin-bottom:-40px;
    }
    85%{
        letter-spacing:8px;
        margin-bottom:-40px;
    }
}
.page-title{
    text-align: center;
}
.main-menu{
    text-align: center;
    padding: 20px;
    display:flex;
    justify-content: center;
    text-decoration: none;
}
.logo{
    width: 250px;
    display: inline-flex;

}
.menu-item {
    margin: 0 20px;
}
.home-image {
    width:  000px   ;
    height:  100px  ;
    object-fit: cover;
}
.intro{
    text-align: center;
    background-color: lightskyblue;
}
.body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.visitor {
 width: 400;
 height:200px;
}
.turnips{
    width: 600px;
}